/* app css stylesheet */

body {
  background-color: white;
  font-family: 'Lato', sans-serif;
}

.top-bar {
  height: 68px;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: white;
}

.nav-item {
  font-size: 14px;
  font-weight: 600;
  margin: 0 10px;
  cursor: pointer;
}

.cart-preview-container {
  position: relative;
}

.cart-preview {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px solid white;
  outline: none;
}

.cart-popup {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  width: 310px;
  height: 300px;
  background-color: white;
  position: absolute;
  top: 30px;
  right: -50px;
  padding: 10px;
}

.cart-popup-container {
  width: 100%;
}

.cart-preview.is-clicked {
  outline: none;
  border-bottom: 1px solid black;
}

/* Category header CSS */
.category-page-products {
  background-color: white;
}

.category-header-container {
  position: relative;
  margin-top: 68px;
}

.category-header-container .category-image {
  width: 100%;
}

.category-description-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 5px solid white;
  border-right: 5px solid white;
  background-color: #2B2B28;
  color: white;
  width: 50%;
  margin: auto;
  padding: 30px;
}

.category-description-container .category-title {
  font-size: 24px;
  border-bottom: 1px solid white;
  padding: 5px;
}

.category-description-container .category-description {
  margin-top: 10px;
  text-align: center;
}

.category-products-container {
  padding: 50px;
  padding-bottom: 0;
}

/* Product CSS */
.product-container {
  height: 265px;
  margin-bottom: 40px;
  font-size: 12px;
  position: relative;
}

.product-container .product-action {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  left: 0;
}

.product-container:hover {
  opacity: 0.8;
}

.product-container:hover .product-action {
  display: block;
  margin: 45px 0;
  height: 110px;
}

.product-container:hover .product-cta-btn {
  background-color: #161618;
  color: white;
  height: 40px;
  line-height: 40px;
  opacity: 0.6;
  border-radius: 1px;
  text-align: center;
  width: 50%;
  font-weight: 600;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.product-container:hover .product-cta-btn:hover {
  opacity: 1.0;
  cursor: pointer;
}

.product-container .product-image {
  height: 200px;
  width: 100%;
}

.product-container .product-brand {
  color: #616562;
}

.product-container .product-title {
  margin: 5px 0;
  opacity: 0.7;
  font-weight: 600;
}

.product-container .product-price {
  color: #999999;
}

/* Cart Popup CSS */
.cart-popup-btn {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #161618;
  cursor: pointer;
}

.view-cart-btn {
  color: #161618;
  background-color: white;
}

.checkout-btn {
  background-color: #161618;
  color: white;
}

.cart-popup-totals {
  color: #999999;
  margin: 10px 0;
}

.cart-popup-product-detail {
  margin-bottom: 20px;
}

.cart-popup .product-image {
  height: 70px;
  width: 100%;
}

.cart-popup-product-list-container {
  max-height: 200px;
  overflow: auto;
}

.cart-popup-product-title, .cart-popup-product-quantity, .cart-popup-product-brand, .cart-popup-product-price {
  font-size: 12px;
}

.cart-popup-product-title, .cart-popup-product-price {
  font-weight: 600;
}

.cart-popup-product-brand {
  color: #999999;
}
