<div>
  <!-- Top Bar -->
  <div class="top-bar" layout="row" flex>
    <div flex="15">
      <img src="assets/media/logo.png" alt="Logo" />
    </div>
    <div flex="70" layout="row" layout-align="center center">
      <div class="nav-item">HOME</div>
      <div class="nav-item">SHOP</div>
      <div class="nav-item">JOURNAL</div>
      <div class="nav-item">MORE</div>
    </div>
    <div flex="15" layout="row" layout-align="center center">
      <view-two></view-two>
    </div>
  </div>

  <!-- Category Page Header -->
  <div class="category-header-container">
    <div>
      <img src="assets/media/plates-header.jpg" class="category-image" />
    </div>
    <div class="category-description-container" layout="column" layout-align="center center">
      <div class="category-title" flex="nogrow">
        Plates
      </div>
      <div class="category-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at purus pulvinar, placerat turpis ac, interdum metus. In eget massa sed enim hendrerit auctor a eget arcu.
      </div>
    </div>
  </div>

  <!-- Category Page Products -->
  <div flex style="background-color: white;">
    <div class="category-products-container" flex="80" flex-offset="10" layout="row" layout-align="space-between center" layout-wrap>
      <div flex="30" data-ng-repeat="product in $ctrl.products" class="product-container" layout="column" layout-align="space-between stretch">
        <div>
          <img src="assets/media/{{product.image()}}" alt="" class="product-image" />
        </div>
        <div layout="column" layout-align="end center">
          <div class="product-brand">
            {{product.brand()}}
          </div>
          <div class="product-title">
            {{product.title()}}
          </div>
          <div class="product-price">
            ${{product.price()}}
          </div>
        </div>
        <div class="product-action" layout="column" layout-align="space-around center">
          <div class="product-cta-btn">VIEW DETAILS</div>
          <div class="product-cta-btn" data-ng-click="$ctrl.addToCart(product)">ADD TO CART</div>
        </div>
      </div>
    </div>
  </div>
</div>
